.right{
    float:right !important; 
}

.left{

    float:left !important;
}

.textbox {
    width: 100%;
}
textarea {
    width: 100%;
    height: 80px;
    border-radius: 8px;
    border: solid 1px #636e78;
    resize: none;

}