.right{
    float:right !important; 
    margin-bottom: 5.7px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.86;
    letter-spacing: normal;
    color: #636e78;
    

}

.left{

    float:left !important;
    margin-bottom: 5.7px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.86;
    letter-spacing: normal;
    color: #636e78;
}

.textbox {
    margin-left: 2%;
    width: 97%;
}
textarea {
    width: 100% !important;
    height: 80px;
    border-radius: 8px;
    border: solid 1px #636e78;
    resize: none;
    margin-top: -5px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.86;
    letter-spacing: normal;
    color: #383d41;
}
