<div class="smileys">
    <div class="row justify-content-sm-center">
        <div class="col-md-2  text-center emoji-width">
            <button (click)="emojiChoose(0)"
            [ngClass]="lastId == 0 ? 'button-clicked' : 'button-not-clicked'">
                <div class="round" style="background-color:#eb5751">
                    <div class="eye left">
                    </div>
                    <div class="eye1 right">
                    </div>
                    <div class="smiley">
                        <div class="mouth-sad"></div>
                    </div>
                </div>
            </button>
        </div>
        <div class="col-md-2 text-center emoji-width">
            <button (click)="emojiChoose(1)"
            [ngClass]="lastId == 1 ? 'button-clicked' : 'button-not-clicked'">
                <div class="round" style="background-color:#ffb35a">
                    <div class="eye left">
                    </div>
                    <div class="eye1 right">
                    </div>
                    <div class="smiley-sad">
                        <div class="no-smile"></div>
                    </div>
                </div>
            </button>
        </div>
        <div class="col-md-2  text-center emoji-width">
            <button (click)="emojiChoose(2)"
            [ngClass]="lastId == 2 ? 'button-clicked' : 'button-not-clicked'"> 
                <div class="round" style="background-color:#45dfd4">
                    <div class="eye left">
                    </div>
                    <div class="eye1 right">
                    </div>
                    <div class="smiley-sad">
                        <div class="mouth-happy"></div>
                    </div>
                </div>
            </button>
        </div>
        <div class="col-md-2  text-center emoji-width">
            <button (click)="emojiChoose(3)"
            [ngClass]="lastId == 3 ? 'button-clicked' : 'button-not-clicked'">
                <div class="round" style="background-color:#2ca59d">
                    <div class="eye left">
                    </div>
                    <div class="eye1 right">
                    </div>
                    <div class="smiley-sad">
                        <div class="extra-smile-mouth">
                            <div class="extra-smile-mouth-teeth"></div>
                        </div>
                    </div>
                </div>
            </button>
        </div>
      </div>
</div>











