  <div class="container">
    <div class="row buttons">
      <div class="col-lg"   >
        <button class="btn" (click)="enableDisableRule(0)"
        [ngClass]="lastId == 0 ? 'red' : ''">Confusing</button>
      </div>
      <div class="col-lg">
        <button class="btn" (click)="enableDisableRule(1)"
        [ngClass]="lastId == 1 ? 'red' : ''">Easy-to-follow</button>
      </div>
      <div class="col-lg">
        <button class="btn" (click)="enableDisableRule(2)"
        [ngClass]="lastId == 2 ? 'red' : ''">Logical</button>
      </div>
    </div>
  </div>
