
    <div class="round" style="background-color:#2ca59d">
        <div class="eye left">
        </div>
        <div class="eye1 right">
        </div>
        <div class="smiley-sad">
            <div class="extra-smile-mouth">
                <div class="extra-smile-mouth-teeth"></div>
            </div>
        </div>
    </div>

<div class="round" style="background-color:#eb5751">
        <div class="eye left">
        </div>
        <div class="eye1 right">
        </div>
        <div class="smiley">
            <div class="mouth-sad"></div>
        </div>
    </div>

    <div class="round" style="background-color:#ffb35a">
        <div class="eye left">
        </div>
        <div class="eye1 right">
        </div>
        <div class="smiley-sad">
            <div class="no-smile"></div>
        </div>
    </div>


    <div class="round" style="background-color:#45dfd4">
        <div class="eye left">
        </div>
        <div class="eye1 right">
        </div>
        <div class="smiley-sad">
            <div class="mouth-happy"></div>
        </div>
    </div>


