<h1>You're logged in!</h1>
<div class="logout-button">
  <button  (click)="openModal(content)" class="btn" style="color: black; border-color: black;">Log out</button>
</div>
<ng-template #content let-modal>
  <div class="container">
    <div class="row justify-content-md-center botton-buffer">
      <div class="col">
        <h1 class="main-text">How would you rate this task in terms of structure?</h1>
      </div>
    </div>
    <div class="row justify-content-sm-center botton-buffer">
        <div class="col-md-3 text-center">
          <button class="btn"(click)="user_effort_score_button(0)"
          [ngClass]="user_effort_score == 0 ? 'selected-button' : ''">Confusing</button>
        </div>
        <div class="col-md-3 text-center">
          <button class="btn" (click)="user_effort_score_button(1)"
          [ngClass]="user_effort_score == 1 ? 'selected-button' : ''">Easy-to-follow</button>
        </div>
        <div class="col-md-3 text-center">
          <button class="btn" (click)="user_effort_score_button(2)"
          [ngClass]="user_effort_score == 2 ? 'selected-button' : ''">Logical</button>
        </div>
      </div>
      <div class="row justify-content-md-center botton-buffer">
        <div class="col-md-10">
          <textbox [maxChars]='140' (user_string_feedback)="userEffort($event)"></textbox>
        </div>
      </div>
      <div class="row justify-content-md-center botton-buffer">
        <div class="">
          <h1 class="main-text">How confident are you applying what you have learned?</h1>
        </div>
      </div>
      <div class="row justify-content-md-center botton-buffer">
        <div class="col-md-3 text-center btnSm">
          <button class="btn" (click)="educational_value_score_button(0)"
          [ngClass]="educational_value_score == 0 ? 'selected-button' : ''">Not at all</button>
        </div>
        <div class="col-md-3  text-center btnSm">
          <button class="btn" (click)="educational_value_score_button(1)"
          [ngClass]="educational_value_score == 1 ? 'selected-button' : ''">Not sure</button>
        </div>
        <div class="col-md-3  text-center btnSm">
          <button class="btn" (click)="educational_value_score_button(2)"
          [ngClass]="educational_value_score == 2 ? 'selected-button' : ''">Probably okay</button>
        </div>
        <div class="col-md-3  text-center btnSm">
          <button class="btn" (click)="educational_value_score_button(3)"
          [ngClass]="educational_value_score == 3 ? 'selected-button' : ''">Full confidence</button>
        </div>
      </div>
      
      <div class="row justify-content-md-center botton-buffer">
        <div class="col-md-10">
          <textbox [maxChars]='140' (user_string_feedback)="educationalValue($event)"></textbox>
        </div>
      </div>
      <div class="row justify-content-md-center">
        <div class="col-md-2 text-center"   >
          <button class="confirm-button" (click) ="addFeedback()" (click)="modal.close('Ok click')" (click)="openModal(modal2)">Confirm</button>
        </div>
        <div class="col-md-2 text-center">
          <button class="dismiss-button"  (click)="modal.close('Ok click')">Dismiss</button>
        </div>
      </div>
  </div>
  
</ng-template>







<ng-template #modal2 let-modal>
  <div class="container">
    <div class="row justify-content-md-center botton-buffer">
      <div class="col">
        <h1 class="main-text">How would you rate your experience using Avatao?</h1>
      </div>
    </div>
    <emojis></emojis>
    
      
      <div class="row justify-content-md-center botton-buffer">
        <div class="col-md-10 text-center">
          <textbox [maxChars]='140'></textbox>
        </div>
      </div>
      <div class="row justify-content-md-center">
        <div class="col-md-2 text-center"   >
          <button class="confirm-button" routerLink="/" (click)="logout()" (click)="modal.close('Ok click')" style="background-color: #eb5751;">Log out</button>
        </div>
        <div class="col-md-2 text-center">
          <button class="dismiss-button" routerLink="/modal" (click)="modal.close('Ok click')">Dismiss</button>
        </div>
      </div>
  </div>
</ng-template>